%tr
  %td.user= comment.who
  %td.score
    = (typeof comment.score === 'undefined' ? '-' : comment.score)
  %td.content
    = comment.content || 'Aucun commentaire'
  %td.snow_description
    = comment.snow_description || '-' 
  %td.date= comment.when.toDateString()
