%h1= hill.name
%table
  %tbody
    %tr
      %th Hauteur de neige en haut
      %td= hill.snow_top || ""
    %tr
      %th Hauteur de neige en bas
      %td= hill.snow_bottom || ""
    %tr
      %th Nombre de remontée
      %td= hill.green_runs + hill.blue_runs + hill.red_runs + hill.black_runs || ""
    %tr
      %th Nombre de remontée ouvertes
      %td= hill.green_runs_open + hill.blue_runs_open + hill.red_runs_open + hill.black_runs_open || ""
    %tr
      %th Dernière mise à jour
      %td= hill.updated_at.toDateString() || ""
    %tr
      %th Nb piste verte ouvertes/Nb piste verte
      %td
        = hill.green_runs_open || ""
        \/
        = hill.green_runs || ""
    %tr
      %th Nb piste bleue ouvertes/Nb piste bleue
      %td
        = hill.blue_runs_open || ""
        \/
        = hill.blue_runs || ""
    %tr
      %th Nb piste rouge ouvertes/Nb piste rouge
      %td
        = hill.red_runs_open || ""
        \/
        = hill.red_runs || ""
    %tr
      %th Nb piste noire ouvertes/Nb piste noire
      %td
        = hill.black_runs_open || ""
        \/
        = hill.black_runs || ""

%h2 Commentaires
%table
  %tbody
    %tr
      %th Qualité moyenne de la neige selon les utilisateurs
      %td= score || ""

%table#comments
  %thead
    %tr
      %th Utilisateur
      %th Score
      %th Commentaire
      %th Date
  %tbody
    != partial('comment', hill.comments)

%form.comment_form{ action: '/hills/comment', method: 'POST' }
  %input{ name: 'hill[id]', value: hill.id, type: 'hidden'}
  %div#quality
    %label Qualité de la neige :
    %label{ for : 'lousy_snow' } Mauvaise
    %input#lousy_snow{ type: 'radio', name:'comment[score]', value: '0'} 0
    %input{ type: 'radio', name:'comment[score]', value: '1'} 1
    %input{ type: 'radio', name:'comment[score]', value: '2'} 2
    %input{ type: 'radio', name:'comment[score]', value: '3'} 3
    %input#great_snow{ type: 'radio', name:'comment[score]', value: '4'} 4
    %label{ for: 'great_snow' } Bonne
  %div
    %label{ for : 'comment_text' } Commentaire :
    %textarea#comment_text{ name: 'comment[content]' }
  %input{ type: 'submit', value: "Commenter"} 

